body {
    padding: 0em 10%;
    margin: 0;
    background: rgba(0,0,0,.2);
}

.main{
	background-color: white;
	padding: 1em 2em;
	width: 100%;
	overflow: auto;
}

.main h1{
	text-align: center;
    margin-top: 0.6em;
    margin-bottom: 1.2em;
    font-size: 2.8em;
    font-weight: 600;
}

.video-youtube, .login-sistema {
	display: inline-block;
	vertical-align: middle;
}

.video-youtube {
	width: 50%;
	margin-right: 3%;
}

.login-sistema {
	width: 46%;
	vertical-align: top;
}

.login-sistema h2 {
	margin-top: 2.5em;
	text-align: center;
	font-weight: 400;
}

.home-register, .home-login{
	float: right;
}

.home-login{
	margin-right: 1em; 
}

.login-sistema a.login {
	display: block;
    width: 70%;
    margin: 1em auto 1em auto;
    padding: 0.6em 0;
    font-size: 1.7em;
}

.main h3 {
	margin-top: 2.5em;
	margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 300;
    border-bottom: black solid 1px;
    display: inline-block;
}

.files h2{
    text-align: center;
    margin-top: 7em;
}

.file-icons {
    display: block;
    text-align: center;
    margin-top: 1em;
}

.file-icons figure {
    display: inline-block;
    margin-top: 1.3em;
    text-align: center;
    width: 8em;
}

.file-icons img {
    width: 4.5em;
}

.file-icons figure figcaption{
	font-size: 1.1em;
	color: #16238E;
}

.footer {
    text-align: center;
    margin-top: 10em;
}

@media (min-width: 1px) and (max-width: 768px) {
	
	body {
		padding: 0;
	}

	.video-youtube {
	    width: 100%;
	    margin: 0;
	}

	.login-sistema {
	    width: 100%;
	    margin-top: 1.6em;
	}

	.main h3 {
	    margin-top: 0.6em;
	    margin-bottom: 1em;
	    font-size: 2em;
	    display: block;
	    text-align: center;
	    border: none;
	}

	.footer img {
		width: 100%;
	}
		

}
